.fretboard {
  display: grid;
  grid-template-rows: auto auto auto;
  background-color: gainsboro;
  padding: 16px;
  color: white;
  width: 90vw;
  height: 40vh;
  margin: 1rem auto;
  border-radius: 5px;
}

.string {
  display: inline-grid;
  grid-template-columns:7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7%;
  background-color: gainsboro;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 2px;
  font-size: 30px;
  text-align: center;
  align-items: center;
  text-shadow: 7px 6px 10px rgba(0, 0, 0, .5);
}

.markers {
  display: inline-grid;
  grid-template-columns:7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7% 7.7%;
  background-color: gainsboro;
  color: gray;
  font-size: 1rem;
  text-align: center;
  margin-top: .5rem;
  align-items: center;
}

.nut {
  border: solid 1px gray;
  border-radius: 5px;
  background-color: #D8D8D8;
  color: white;
  padding: 1px;
  margin-right: 10px;
  user-select: none;
  cursor: pointer;
}

.fret {
  border-radius: 5px;
  padding: 1px;
  margin-right: 10px;
  user-select: none;
  cursor: pointer;
}

.fret-mark {
  border: 1px solid gray;
  border-radius: 5px;
  margin-right: 10px;
  user-select: none;
  cursor: pointer;
}

.fret-guide {
  border-color: white;
  border-radius: 5px;
  margin-right: 10px;
  user-select: none;
  cursor: default;
  align-content: center;
}

#current {
  background-color: #00CECB;
  color: white;
}

#target {
  background-color: #F42C04;
  color: white;
}

#neutral {
  background-color: salmon;
}

#common {
  background-color: #FFED66;
  border-color: #FF5E5B;
  color: gray;
}