html {
  background-color: white;
  color: salmon;
  font-family: 'Barlow', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  padding: 0 3rem;
}

body {
  width: auto;
}

h3 {
margin-top: 1rem;
user-select: none;
text-shadow: 7px 6px 16px rgba(0, 0, 0, .5);
}

button {
  border: 0px;
}






