#tuning-modal {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 15;
  margin-top: 25vh;
  height: fit-content;
  background-color: gainsboro;
  padding: 2%;
  border-radius: 5px;
  box-shadow: 14px 12px 10px rgba(0, 0, 0, .5);
  justify-content: center;
}

#tuning-modal-wrapper {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0vw;
  left: 0vw;
  z-index: 0;
  overflow: hidden;
  justify-content: center;
  backdrop-filter: blur(10px);
}

#tuning-selector-group {
  display: flex;
  margin-top: 2rem;
  justify-content: space-evenly;
  background-color: gray;
  color: white;
  padding: 1rem;
  border-radius: 5px;
}

.tuning-selector {
  display: flex;
  background-color: salmon;
  border-radius: 5px;
  font-size: 2rem;
  margin: .5rem;
  color: white;
}

#string-number-select {
  display: flex;
  position: relative;
  font-size: 4rem;
  width: auto;
  text-align: center;
}

.tuning-modal-buttons {
  display: inline-flex;
  justify-content: center;
}